/* Default settings for the Foundry Radio */
:root {
	--radio-font-family: "Orbitron";
}

/* Different theme colours that seemed fun! */
:root[data-radio-theme="mgs-codec"] {
	--radio-background-color: #0F1E17;
	--radio-button-text-color: #0F1E17;
	--radio-button-color: #03FB8D;
	--radio-text-color: #ffffff;
}

:root[data-radio-theme="cyberpunk-red"] {
	--radio-background-color: #000000;
	--radio-button-text-color: #ffffff;
	--radio-button-color: #d31919;
	--radio-text-color: #d31919;
}

:root[data-radio-theme="cyberpunk-edgerunners"] {
	--radio-background-color: #772289;
	--radio-button-text-color: #f4d5fd;
	--radio-button-color: #4bff21;
	--radio-text-color: #000000;
}

:root[data-radio-theme="deep-blue"] {
	--radio-background-color: #030056;
	--radio-button-text-color: #ffffff;
	--radio-button-color: #0900ff;
	--radio-text-color: #0900ff;
}

:root[data-radio-theme="fallout-nuclear"] {
	--radio-background-color: #033000;
	--radio-button-text-color: #ffffff;
	--radio-button-color: #00ff00;
	--radio-text-color: #00ff00;
}

#foundry-radio .foundry-radio {
    background-color: var(--radio-background-color);
    color: var(--radio-text-color);
    padding: 20px;
    border: 2px solid #888;
    border-radius: 8px;
    width: 300px;
    font-family: 'Segoe UI', sans-serif;
}

#foundry-radio .radio-header {
    text-align: center;
    margin-bottom: 10px;
}

#foundry-radio .radio-controls label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#foundry-radio #playlist-select {
    width: 100%;
    margin-bottom: 10px;
}

#foundry-radio .track-controls {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#foundry-radio .track-controls button {
    flex: 1;
    margin: 0 2px;
    padding: 5px;
    background-color: var(--radio-button-color);
    color: var(--radio-button-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#foundry-radio .track-controls button:hover {
    background-color: #555;
}

#foundry-radio #volume-slider {
    width: 100%;
}